{{#if logged_in}}
{{#each posts as |post| }}
<div class="card " style="width: 75%;">
  <div class="card-body">
    <h5 class="card-title text-white bg-success pl-2">{{post.title}}</h5>
    <p class="card-text bg-light text-black pl-2">{{post.comment_field}}</p>
    <div class="card-footer text-muted">
      {{format_date post.comment_date}}
  </div>
  </div>
  <p>
    <button class="btn btn-primary">Edit Post</button>
  </p>
</div>





{{/each}}
{{/if}}

<button class="btn btn-success">
        <a class="nav-link text-white" href="./post">New Post</a>
      </button>

 {{!-- <nav>
      <button class="btn nav-item active" id="post">+ New Post
          <a class="nav-link" href="./post"></a>
          </button>
    </nav> --}}

    